*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 40px;
    width: 40px;
}

.view {
    background: url("header-page.jpg")no-repeat center center;
    background-size: cover;
}
@media (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
    }
}
.navbar {
    z-index: 1;
}

html,
body,
header,
.view {
    height: 100%;
}